<style type="text/css">
    .errorImage {
        max-width: 350px;
        height: auto;
    }
</style>

<div class="text-center">
    <img src="~/Images/404.png" class="errorImage" /><br/><br/>
    <h3 class="text-secondary">Page Doesn't Exist</h3>
    <label class="text-secondary">The page you are looking for doesn't exist anymore. </label><br/>
    <a href="@Url.Action("SearchDashboard", "Search")" class="btn btn-secondary"> <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Go Home</a>
</div>
<br />