<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- *********************************************************************************** -->
    <!-- ******************************** WEB SETTINGS ************************************* -->
    <!-- *********************************************************************************** -->
    <add key="Environment" value="DEV" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- **************************** Azure AD App Registration **************************** -->
    <!-- *********************************************************************************** -->
    <!--
    These are no longer needed, it validates the token using the Audience -wkb
    <add key="ida:ClientId" value="75960aa6-7a33-445d-81f0-016c475e973e" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ClientSecret" value="wsETT35~CN80lqcppBjE_7p-x1~7fWGCKW" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    -->
    <add key="ida:Audience" value="https://mecktech.onmicrosoft.com/Accela-Dev" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************************** AION App Settings ****************************** -->
    <!-- *********************************************************************************** -->
    <add key="KeyVaultConnectionString" value="https://meck-sus-keyvault-dev.vault.azure.net/secrets/meck-sus-aion-connection-string/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- *********************************************************************************** -->
    <!-- ************************************ Email **************************************** -->
    <!-- *********************************************************************************** -->
    <add key="IsRunningFromAzure" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureRecipientList" value="SUSTeam@mecktech.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************** Accela Values ********************************************** -->
    <!-- *********************************************************************************** -->
    <add key="AccelaAuthbaseUrl" value="https://auth.accela.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaEnvironment" value="SUPP" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaApiUrl" value="https://apis.accela.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaClientId" value="https://meck-sus-keyvault-dev.vault.azure.net/secrets/meck-sus-accela-client-id/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaClientSecret" value="https://meck-sus-keyvault-dev.vault.azure.net/secrets/meck-sus-accela-client-secret/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaUserId" value="https://meck-sus-keyvault-dev.vault.azure.net/secrets/meck-sus-aion-accela-user-id/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaPassword" value="https://meck-sus-keyvault-dev.vault.azure.net/secrets/meck-sus-aion-accela-password/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <!-- *********************************************************************************** -->
    <!-- ********************************LOGGING SETTINGS ********************************** -->
    <!-- *********************************************************************************** -->
    <add key="LoggingLocation" value="Azure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>
</configuration>
