<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- *********************************************************************************** -->
    <!-- ******************************** WEB SETTINGS ************************************* -->
    <!-- *********************************************************************************** -->
    <add key="Environment" value="PRD" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- **************************** Azure AD App Registration **************************** -->
    <!-- *********************************************************************************** -->
    <!--
    These are no longer needed, it validates the token using the Audience -wkb
    <add key="ida:ClientId" value="cc7d5480-8337-4e86-a77f-09ad0cf53af8" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ClientSecret" value="6hbqxnSza6R~1Uj9Y.M31_p87An5H8.x~O" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    -->
    <add key="ida:Audience" value="https://mecktech.onmicrosoft.com/Accela-Prd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************************** AION App Settings ****************************** -->
    <!-- *********************************************************************************** -->
    <add key="KeyVaultConnectionString" value="https://meck-sus-keyvault-prd.vault.azure.net/secrets/meck-sus-aion-connection-string/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- *********************************************************************************** -->
    <!-- ************************************ Email **************************************** -->
    <!-- *********************************************************************************** -->
    <add key="IsRunningFromAzure" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AzureRecipientList" value="SUSTeam@mecktech.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************** Accela Values ********************************************** -->
    <!-- *********************************************************************************** -->
    <add key="AccelaAuthbaseUrl" value="https://auth.accela.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
   <!--  ACCELA ENVIROMENT CHANGE  <add key="AccelaEnvironment" value="TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/> -->
    <add key="AccelaEnvironment" value="PROD" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaApiUrl" value="https://apis.accela.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaClientId" value="https://meck-sus-keyvault-prd.vault.azure.net/secrets/meck-sus-accela-client-id/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaClientSecret" value="https://meck-sus-keyvault-prd.vault.azure.net/secrets/meck-sus-accela-client-secret/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaUserId" value="https://meck-sus-keyvault-prd.vault.azure.net/secrets/meck-sus-aion-accela-user-id/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaPassword" value="https://meck-sus-keyvault-prd.vault.azure.net/secrets/meck-sus-aion-accela-password/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>


    <!-- *********************************************************************************** -->
    <!-- ********************************LOGGING SETTINGS ********************************** -->
    <!-- *********************************************************************************** -->
    <add key="LoggingLocation" value="Azure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogInformation" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogTracing" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogWarning" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogExecutionTime" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>
