

<div class="grid-container meckco-footer__return-to-top">
    <button class="scrollToTopBtn" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
        <svg class="svg-inline--fa fa-angle-up meckco-fa-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z"></path></svg>
        Back to top
    </button>
</div>
<div class="usa-footer__primary-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="desktop:grid-col-9">
                <nav class="usa-footer__nav" aria-label="Footer navigation">
                    <div class="grid-row mobile-lg:grid-gap-lg">
                        <div class="grid-col-12 mobile-lg:grid-col-6 desktop:grid-col">
                            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                <h2 class="usa-footer__primary-link">Website Information</h2>
                                <ul class="usa-list usa-list--unstyled" id="footer-primary-links-1">
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://mecknc.widen.net/s/97rdwnhwnp/mc-doc-visual_guidelines">Brand Guidelines</a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://www.mecknc.gov/storybook">Design System</a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://www.mecknc.gov/Policies/Privacy-and-Legal-Notices">
                                            Privacy and Legal Notices
                                        </a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://www.mecknc.gov/Policies/Web-Accessibility-Statement">
                                            Web Accessibility Statement
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="grid-col-12 mobile-lg:grid-col-6 desktop:grid-col">
                            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                <h2 class="usa-footer__primary-link">Getting Started</h2>
                                <ul class="usa-list usa-list--unstyled" id="footer-primary-links-1">
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://www.mecknc.gov/Departments">
                                            Department Directory
                                        </a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://tax.mecknc.gov/services/pay">Pay Taxes</a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="http://pi.mecknc.gov/Services/Public-Records-Requests">
                                            Public Record Requests
                                        </a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://hhs.mecknc.gov">
                                            HHS Services
                                        </a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://watch.mecknc.gov">
                                            Watch BOCC Broadcasts
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="grid-col-12 mobile-lg:grid-col-6 desktop:grid-col">
                            <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                <h2 class="usa-footer__primary-link">Assistance</h2>
                                <ul class="usa-list usa-list--unstyled" id="footer-primary-links-1">
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://mgr.mecknc.gov/Programs/ADA">ADA Accommodations</a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://www.mecknc.gov/CharMeck311">CharMeck 311</a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://hr.mecknc.gov/">Employment</a>
                                    </li>
                                    <li class="usa-footer__secondary-link">
                                        <a class="usa-link" href="https://www.mecknc.gov/Need-a-Speaker">Request a Speaker</a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="mobile-lg:grid-col-6 desktop:grid-col meckco-about-us-column">
                            <div id="block-officelocation">
                                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                    <h2 class="usa-footer__primary-link">Contact Us</h2>
                                    <ul class="usa-list usa-list--unstyled" id="footer-primary-links-1">
                                        <li class="usa-footer__secondary-link">
                                            <div class="meckco-office-location-content">
                                                <div class="meckco-office-location-address">
                                                    <label>Business Office</label>
                                                    <p>
                                                        <a href="https://goo.gl/maps/YJ5DVn8derDLwiau9" class="ext" data-extlink="" target="_blank" rel="noopener noreferrer">
                                                            Charlotte-Mecklenburg Government Center<br>
                                                            600 E. Fourth St.<br>
                                                            Charlotte, NC 28202
                                                            <span class="fa-ext extlink">
                                                                <svg class="svg-inline--fa fa-arrow-up-right-from-square" aria-label="(link is external)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-up-right-from-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="width:7%;height:7%">
                                                                    <path fill="currentColor" d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM502.6 9.367C496.8 3.578 488.8 0 480 0h-160c-17.67 0-31.1 14.32-31.1 31.1c0 17.67 14.32 31.1 31.99 31.1h82.75L178.7 290.7c-12.5 12.5-12.5 32.76 0 45.26C191.2 348.5 211.5 348.5 224 336l224-226.8V192c0 17.67 14.33 31.1 31.1 31.1S512 209.7 512 192V31.1C512 23.16 508.4 15.16 502.6 9.367z"></path>
                                                                </svg><!-- <span class="fa-solid fa-arrow-up-right-from-square" aria-label="(link is external)"></span> -->
                                                            </span>
                                                        </a>
                                                    </p>
                                                    <label>Business Hours</label><p>Mon-Fri 8 a.m. - 5 p.m.</p>
                                                </div>
                                            </div>
                                        </li>
                                       
                                    </ul>
                                    
                                </section>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="desktop:grid-col-3">
                <div id="block-webform">

                    <h2>Stay connected</h2>

                    <form class="webform-submission-form webform-submission-add-form webform-submission-footer-sign-up-form webform-submission-footer-sign-up-add-form webform-submission-footer-sign-up-node-31-form webform-submission-footer-sign-up-node-31-add-form js-webform-details-toggle webform-details-toggle usa-form" data-drupal-selector="webform-submission-footer-sign-up-node-31-add-form" action="/" method="post" id="webform-submission-footer-sign-up-node-31-add-form" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-email" novalidate="novalidate">

                        <div id="edit-desc" class="js-form-item form-item js-form-type-webform-markup form-item-desc js-form-item-desc form-no-label">
                            <span class="usa-footer">Sign-up for email to stay connected to County news.</span>
                        </div>
                        <div id="edit-button-html" class="js-form-item form-item js-form-type-processed-text form-item- js-form-item- form-no-label">
                            <p><a class="usa-button usa-button--secondary" href="https://home.mecknc.gov/Subscribe" style="text-decoration:none !important;">Sign up</a></p>

                        </div>
                        <div class="js-form-item form-item js-form-type-email form-item-email js-form-item-email form-no-label">

                            <input style="display: none;" data-drupal-selector="edit-email" data-msg-email="Your email address does not contain a valid email." data-msg-maxlength="Your email address field has a maximum length of 254." type="email" id="edit-email" name="email" value="" size="60" maxlength="254" placeholder="Your email address" class="form-email">

                        </div>
                        <input autocomplete="off" data-drupal-selector="form-iuiogsizwozei5f-wh6dpqa-fgzyfel1ydpafpdpnok" type="hidden" name="form_build_id" value="form-IuIogsIzWozei5f_Wh6Dpqa_fgzyFEL1YdpafpdPNok">
                        <input data-drupal-selector="edit-webform-submission-footer-sign-up-node-31-add-form" type="hidden" name="form_id" value="webform_submission_footer_sign_up_node_31_add_form">



                    </form>

                </div>


            </div>
        </div>
    </div>
</div>
<div id="block-socialicon">
    <ul class="meckco-social-media-links" style="margin-bottom:1.5rem">
        <li class="meckco-social-media-links-item">
            <a class="meckco-social-media-links-item-link" href="https://www.facebook.com/MecklenburgCounty" target="_blank">
                <svg style="width:2rem;height:2rem" class="svg-inline--fa fa-facebook-f meckco-fa-icon fa-lg meckco-circle-icon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path></svg><!-- <i class="meckco-fa-icon fa-brands fa-facebook-f fa-lg  meckco-circle-icon"></i> -->
            </a>
        </li>
        <li class="meckco-social-media-links-item">
            <a class="meckco-social-media-links-item-link" href="https://www.twitter.com/MeckCounty" target="_blank">
                <svg style="width:2rem;height:2rem" class="svg-inline--fa fa-twitter meckco-fa-icon fa-lg meckco-circle-icon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z"></path></svg><!-- <i class="meckco-fa-icon fa-brands fa-twitter fa-lg  meckco-circle-icon"></i> -->
            </a>
        </li>
        <li class="meckco-social-media-links-item">
            <a class="meckco-social-media-links-item-link" href="https://www.youtube.com/user/meckgov" target="_blank">
                <svg style="width:2rem;height:2rem" class="svg-inline--fa fa-youtube meckco-fa-icon fa-lg meckco-circle-icon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M549.7 124.1c-6.281-23.65-24.79-42.28-48.28-48.6C458.8 64 288 64 288 64S117.2 64 74.63 75.49c-23.5 6.322-42 24.95-48.28 48.6-11.41 42.87-11.41 132.3-11.41 132.3s0 89.44 11.41 132.3c6.281 23.65 24.79 41.5 48.28 47.82C117.2 448 288 448 288 448s170.8 0 213.4-11.49c23.5-6.321 42-24.17 48.28-47.82 11.41-42.87 11.41-132.3 11.41-132.3s0-89.44-11.41-132.3zm-317.5 213.5V175.2l142.7 81.21-142.7 81.2z"></path></svg><!-- <i class="meckco-fa-icon fa-brands fa-youtube fa-lg  meckco-circle-icon"></i> -->
            </a>
        </li>
        <li class="meckco-social-media-links-item">
            <a class="meckco-social-media-links-item-link" href="https://www.linkedin.com/company/mecklenburg-county/" target="_blank">
                <svg style="width:2rem;height:2rem" class="svg-inline--fa fa-linkedin-in meckco-fa-icon fa-lg meckco-circle-icon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.3 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.6 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.3 61.9 111.3 142.3V448z"></path></svg><!-- <i class="meckco-fa-icon fa-brands fa-linkedin-in fa-lg  meckco-circle-icon"></i> -->
            </a>
        </li>
    </ul>
</div>
<div class="grid-row grid-gap">
    <div class="grid-col-auto">
        <a href="https://www.mecknc.gov/employee-access">Employee Access</a>
    </div>
</div>
