<div class="row">
    <div class="col-md-4 box1">
        <div class="info-container">
            <h3>Available</h3><br>
            <span class="info"></span>
        </div>

        <select name="from" id="multiselect" class="form-control multiselect-dual multiselect-from listbox" size="10" multiple="multiple"></select>
    </div>
    <div class="col-md-2">
        <div class="button-container">
            <button type="button" id="multiselect_rightSelected" class="btn btn-sm btn-poppy btn-block multiselect-add"><i class="fa-solid fa-chevron-right"></i></button>
            <button type="button" id="multiselect_leftSelected" class="btn btn-sm btn-poppy btn-block multiselect-remove"><i class="fa-solid fa-chevron-left"></i></button>
            <br>
            <button type="button" id="multiselect_rightAll" class="btn btn-sm btn-poppy btn-block multiselect-addall"><i class="fa-solid fa-angle-double-right"></i></button>
            <button type="button" id="multiselect_leftAll" class="btn btn-sm btn-poppy btn-block multiselect-removeall"><i class="fa-solid fa-angle-double-left"></i></button>
        </div>
    </div>
    <div class="col-md-4 box2">
        <div class="info-container">
            <h3>Selected</h3>
            <br>
            <span class="info"></span>
        </div>
        <select name="to" id="multiselect_to" class="form-control multiselect-dual multiselect-to listbox" size="10" multiple="multiple"></select>
    </div>
    <div class="col-md-2">
        <div class="button-container">
            <button type="button" id="multiselect_move_up" class="btn btn-sm btn-poppy btn-block multiselect-move-up"><i class="fa-solid fa-chevron-up"></i></button>
            <button type="button" id="multiselect_move_down" class="btn btn-sm btn-poppy btn-block multiselect-move-down"><i class="fa-sharp fa-solid fa-chevron-down"></i></button>
        </div>
    </div>
</div>