
<ul class="nav nav-tabs nav-topline nav-justified nav-border-left nav-border-right">
    <li class="nav-item">
        <a class="nav-link active" id="nav-bemp-tab" data-toggle="tab" href="#nav-bemp" role="tab" aria-controls="nav-bemp" aria-selected="true">BEMP <span class="bempreqcls font-weight-bold" style="color: red;">*</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-zoning-tab" data-toggle="tab" href="#nav-zoning" role="tab" aria-controls="nav-zoning" aria-selected="false">Zoning <span class="zoningreqcls font-weight-bold" style="color: red;">*</span></a>
    </li>
    <li class="nav-item">
        <a class=" nav-link" id="nav-fire-tab" data-toggle="tab" href="#nav-fire" role="tab" aria-controls="nav-fire" aria-selected="false">Fire <span class="firereqcls font-weight-bold" style="color: red;">*</span></a>
    </li>
    <li class="nav-item">
        <a class=" nav-link" id="nav-backflow-tab" data-toggle="tab" href="#nav-backflow" role="tab" aria-controls="nav-backflow" aria-selected="false">Backflow <span class="backfreqcls font-weight-bold" style="color: red;">*</span></a>
    <li class="nav-item">
        <a class=" nav-link" id="nav-health-tab" data-toggle="tab" href="#nav-health" role="tab" aria-controls="nav-health" aria-selected="false">Health <span class="healthreqcls font-weight-bold" style="color: red;">*</span></a>
    </li>
</ul>

