
@model AION.Web.Models.ProjectDetail.AssignedReviewerListViewModel


    <div class="col-3 text-nowrap">
        @Model.TradeName
    </div>
    <div class="col-4">
        @Model.ReviewerName
    </div>
    <div class="col-4 text-nowrap">
        @Model.DateRange 
    </div>
    <div class="col-1 text-nowrap">
        @Model.Hours
    </div>

