<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- *********************************************************************************** -->
    <!-- ******************************** WEB SETTINGS ************************************* -->
    <!-- *********************************************************************************** -->
    <add key="Environment" value="DEV" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************************** Accela Links *********************************** -->
    <!-- *********************************************************************************** -->
	<add key="AccelaBaseLink" value="https://mecklenburg-supp-av.accela.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccelaBaseApplicationDeeplink" value="https://mecklenburg-supp-av.accela.com/portlets/reports/adHocReport.do?mode=deepLink&amp;reportCommand=recordDetail&amp;altID={AccelaId}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- **************************** Azure AD App Registration ******************** -->
    <!-- *********************************************************************************** -->
    <add key="ida:ClientId" value="c46957f8-939d-4cfc-bf87-0797fca19c43" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ClientSecret" value="iby:mo*PohOyYycO26=LyGzNkMCqk[77" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:PostLogoutRedirectUri" value="https://meck-sus-aion-web-dev.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ************************************ MANAGER ************************************** -->
    <!-- *********************************************************************************** -->
    <add key="ida:ManagerClientId" value="c46957f8-939d-4cfc-bf87-0797fca19c43" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ManagerClientSecret" value="iby:mo*PohOyYycO26=LyGzNkMCqk[77" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ManagerWebApiUri" value="https://meck-sus-aion-manager-dev.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ManagerWebApiAppIdUri" value="https://mecktech.onmicrosoft.com/AION-Dev" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ************************************ GATEWAY ************************************** -->
    <!-- *********************************************************************************** -->
    <add key="KeyVaultGatewayKey" value="https://meck-sus-keyvault-dev.vault.azure.net/secrets/meck-sus-aion-gateway-key/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************************LOGGING SETTINGS ********************************** -->
    <!-- *********************************************************************************** -->
    <add key="LoggingLocation" value="Azure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheConnection" value="meck-ent-session-cache-rc-dev.redis.cache.windows.net:6380,password=+gBxLgCrA4xwcyITKOcyEMipneENI1Vb+UyHYXcoHZE=,ssl=True,abortConnect=False,AllowedAdmin=True" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <sessionState>
      <providers xdt:Transform="Replace">
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="meck-ent-session-cache-rc-dev.redis.cache.windows.net:6380,password=+gBxLgCrA4xwcyITKOcyEMipneENI1Vb+UyHYXcoHZE=,ssl=True,abortConnect=False"/>
      </providers>
    </sessionState>
  </system.web>
</configuration>
