<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- *********************************************************************************** -->
    <!-- ******************************** WEB SETTINGS ************************************* -->
    <!-- *********************************************************************************** -->
    <add key="Environment" value="TST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

	<!-- User Session Timeout -->
	<add key="SessionWarningTime" value="3600000" xdt:Transform="Replace" xdt:Locator="Match(key)" />	  <!-- 60 minutes -->
	<add key="SessionRedirectTime" value="3720000" xdt:Transform="Replace" xdt:Locator="Match(key)" />  <!-- 62 minutes -->

	  <!-- *********************************************************************************** -->
	  <!-- ********************************** Report Links *********************************** -->
	  <!-- *********************************************************************************** -->
	  <add key="ReportUrl" value="http://sqlnondb1v/TSTReports/report/Departments/LUESA/AION/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="ManagementReportUrl" value="http://sqlnondb1v/TSTReports/report/Departments/LUESA/AION/ManagerReports/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

	  <!-- *********************************************************************************** -->
    <!-- ********************************** Accela Links *********************************** -->
    <!-- *********************************************************************************** -->
	  <add key="AccelaBaseLink" value="https://mecklenburg-pre-av.accela.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	  <add key="AccelaBaseApplicationDeeplink" value="https://mecklenburg-nonprod3-av.accela.com/portlets/web/en-us/#/core/spacev360/mecklenburg.{AccelaId}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- **************************** Azure AD App Registration ******************** -->
    <!-- *********************************************************************************** -->
    <add key="ida:ClientId" value="3d55647e-ba82-4038-8b2a-f176d1c63411" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ClientSecret" value="sJN/NCgzE9uotgDB=.AOz3gIhRGJE7]2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:PostLogoutRedirectUri" value="https://meck-sus-aion-web-tst.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ************************************ MANAGER ************************************** -->
    <!-- *********************************************************************************** -->
    <add key="ida:ManagerClientId" value="3d55647e-ba82-4038-8b2a-f176d1c63411" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ManagerClientSecret" value="sJN/NCgzE9uotgDB=.AOz3gIhRGJE7]2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ManagerWebApiUri" value="https://meck-sus-api-gateway-tst.azure-api.net/meck-sus-aion-manager-tst/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ManagerWebApiAppIdUri" value="https://mecktech.onmicrosoft.com/AION-Tst" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- *********************************************************************************** -->
    <!-- ************************************ GATEWAY ************************************** -->
    <!-- *********************************************************************************** -->
    <add key="KeyVaultGatewayKey" value="https://meck-sus-keyvault-tst.vault.azure.net/secrets/meck-sus-aion-gateway-key/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- *********************************************************************************** -->
    <!-- ********************************LOGGING SETTINGS ********************************** -->
    <!-- *********************************************************************************** -->
    <add key="LoggingLocation" value="Azure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheConnection" value="meck-ent-session-cache-rc-tst.redis.cache.windows.net:6380,password=nOxbUlMyZSS1Gi4P1zNg+GqF5gQkC3OThKg6hJtdTFg=,ssl=True,abortConnect=False,AllowedAdmin=True" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <sessionState>
      <providers xdt:Transform="Replace">
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="meck-ent-session-cache-rc-tst.redis.cache.windows.net:6380,password=nOxbUlMyZSS1Gi4P1zNg+GqF5gQkC3OThKg6hJtdTFg=,ssl=True,abortConnect=False"/>
      </providers>
    </sessionState>
  </system.web>
</configuration>
