@using System.Web.Mvc.Html
@using AION.BL
@using AION.Web.Extensions

@model AION.Web.Models.EstimationViewModel

@{

    bool isenabled = !Model.IsReadOnly;
    string disabledcls = Model.DisabledCls;
    string disablebtn = Model.DisabledHtml;
    string readonlytxt = Model.ReadonlyHtml;
    //if this is preliminary estimation, then check the right permissions
    //get the controller, if this is preliminary, use those permissions, else use estimation perms
    var contr = ViewContext.RouteData.Values["action"];
    //if preliminary, change the model permissions so these render correctly
    bool enableperm = Model.PermissionMapping.Estimat_Bkflow;
    bool showRequested = false;

    if (contr.ToString().ToLower() == "PreliminaryEstimation".ToLower())
    {
        enableperm = Model.PermissionMapping.Prlim_Estimat_Bkflow;
        showRequested = true;
    };

}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="PrimaryReviewerBackFlow">BackFlow Primary</label>
            @Html.DropDownListFor(m => m.PrimaryReviewerBackFlow, Model.AssignPlanReviewersListBackFlowSR, new { @id = "DrpDnPrimaryBackFlow", @class = "form-select form-control border-cyan" }, enableperm)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="SecondaryReviewerBackFlow">BackFlow Secondary</label>
            @Html.DropDownListFor(m => m.SecondaryReviewerBackFlow, Model.AssignPlanReviewersListBackFlowSR, new { @id = "DrpDnSecondaryBackFlow", @class = "form-select form-control border-cyan" }, enableperm)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="ExcludedPlanReviewersBackFlow">BackFlow Excluded</label>
            @Html.ListBoxFor(m => m.ExcludedPlanReviewersBackFlow, Model.PlanReviewersListViewModel,
                new { @id = "chkDrpDnExPlnRvrsBackFlow", @class = "border-cyan multiselect chkDrpDnExPln", @multiple = "multiple" }, enableperm)
        </div>
    </div>
    @if (showRequested == true)
    {
        <div class="col-md-3">
            <div class="form-group">
                <label for="RequestedPlanReviewerBackFlow">BackFlow Requested</label>
                <label class="form-control border-cyan">@Model.GetProposedPlanReviewerName(AION.BL.DepartmentNameEnums.Backflow)</label>
            </div>
        </div>
    }
</div>
