@model AION.Web.Models.AssignedFacilitatorViewModel

@Model.FacilitatorName <a class="change-facilitator" data-toggle="modal" data-target="#dialog-modal-change-facilitator" style="text-decoration:underline;margin-left:10px;" href="#" data-id=@Model.FacilitatorId>change facilitator</a>
