SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [AION].[usp_select_aion_reserve_express_reservation_get_list]

AS

BEGIN

DECLARE @scheduledstatus INT;
        SELECT @scheduledstatus = APPT_RESPONSE_STATUS_REF_ID
        FROM [AION].[APPOINTMENT_RESPONSE_STATUS_REF]
        WHERE ENUM_MAPPING_VAL_NBR = 5;

    SELECT [RESERVE_EXPRESS_RESERVATION_ID]
      ,[RESERVE_EXPRESS_DT]
      ,[START_TM]
      ,[END_TM]
      ,[MEETING_ROOM_REF_ID]
      ,[WKR_ID_CREATED_TXT]
      ,[CREATED_DTTM]
      ,[WKR_ID_UPDATED_TXT]
	  ,[APPT_RESPONSE_STATUS_REF_ID]
      ,[UPDATED_DTTM]
	  ,[CANCEL_AFTER_DT]
  FROM [AION].[RESERVE_EXPRESS_RESERVATION]
  WHERE APPT_RESPONSE_STATUS_REF_ID =@scheduledstatus
  
END
  
RETURN



